:root {
  --text-color: #090909;
  --light-color: #858585;
  --primary-color: #ede13d;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("./assets/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("./assets/fonts/IBMPlexSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("./assets/fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSans";
  src: url("./assets/fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.cveator-container {
  font-size: 20px;
  font-family: "IBMPlexSans", Courier, monospace !important;
  /* background-color: black; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.cveator-container {
  padding: 2em;
  width: 948px;
  margin: 0 auto;
  background-color: white;
}

.cveator__header {
  text-align: center;
}

.cveator__header__title {
  margin-bottom: 0.3em;
  font-size: 1.8em;
}
.cveator__header__job {
  margin-bottom: 0;
  font-size: 1.2em;
}

.cveator__sepetator {
  height: 0.2em;
  width: 8em;
  background-color: var(--primary-color);
  margin: 1em 0;
  display: inline-block;
  margin-bottom: 1em;
}

.cveator__header-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cveator__contact-item {
  color: var(--text-color);
}

.cveator__contact-item i {
  padding-right: 0.4em;
  width: auto;
}

.cveator__contact-item img {
  width: 10px;
}

.cveator__header-contact > .cveator__contact-item {
  text-decoration: none;
}

.cveator__header-contact > .cveator__contact-item:before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  background-color: var(--primary-color);
  margin: 0 1em;
}

.cveator__header-contact > a:first-child:before {
  content: none;
}

.cveator__section-layout {
  padding: 2em 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 70em;
}

.cveator__section-layout > div {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.cveator__section__title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  font-size: 1em;
}

.cveator__section__title > span {
  font-size: 1em;
  z-index: 1;
  position: relative;
}

.cveator__section__title::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  padding: 0.3em;
  left: -0.2em;
  background-color: var(--primary-color);
  z-index: 0;
}

.cveator__section-entry {
  border: 1px dashed #eaeaea;
  padding: 1em;
  border-radius: 0.5rem;
  margin: 0.6em;
}

.cveator__section-entry__title {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.cveator__section-entry__subtitle {
  margin-bottom: 0.8em;
  font-size: 0.8em;
}

.cveator__section-entry__date {
  font-size: 0.8em;
  color: var(--light-color);
}

.cveator__section-entry__description {
  padding: 1em 0;
  font-size: 0.8em;
  line-height: 1.6em;
}

.cveator__section-entry__description ul {
  padding-left: 0;
  list-style-type: none;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
}

.cveator__section-entry__description ul li {
  width: 5;
  text-align: left;
  padding-left: 1.1em;
  display: flex;
}

.cveator__section-entry__description ul li:before {
  content: "*";
  padding-right: 0.7em;
  font-weight: bolder;
  color: #5b5b5b;
}

.cveator__section-measures {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.cveator__section-measure {
  border: 1px solid var(--primary-color);
  padding: 0.5em;
  font-size: 0.9em;
  margin: 0.5em;
}

.modal-90w {
  width: 1000px !important;
  max-width: none !important;
}
